.player-name {
  font-weight: bold;
  text-decoration: underline;
}

.player-header {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.player-table {
  width: 100%;
  margin-top: 1rem;
  th {
    font-size: 1.15rem;
    background-color: $color-main;
    padding: 1rem 0.5rem;
    color: $active-item;
  }
  td {
    padding: 0.5rem 0.5rem;
  }
}

.won-game {
  background-color: $primary-green;
}

.lost-game {
  background-color: $primary-red;
}
