$color-main: #2c3142;
$color-secondary: #4b79b4;
$active-item: #ffffff;
$non-active-item: #bfbfbf;
$primary-green: #70a288;
$primary-red: #cc5a71;
$primary-blue: #4b88a2;
$button-disabled: #a5bcd9;

$font-body: "Ariel", Helvetica, sans-serif;
